{#
  Swig Templating!
  Docs: http://paularmstrong.github.io/swig/docs/
#}

{% extends 'layouts/application.html' %}

{% block title %}小时数据统计{% endblock %}

{% block content %}
日期：<input id="start-time" class="easyui-datetimebox" data-options="showSeconds:false" style="width:200px">
<span>&nbsp;-&nbsp;</span>
<input id="end-time" class="easyui-datetimebox" data-options="showSeconds:false" style="width:200px">
<button id="search">检索</button>
<script>{{ codeMap }}</script>
<div id="container" style="height:400px"></div>

<table id="dg" class="easyui-datagrid" title="code码列表" style="width:auto;height:auto"
        data-options="
            iconCls: 'icon-edit',
            singleSelect: true,
            toolbar: '#tb',
            data: codeMap
        ">
    <thead>
        <tr>
            <th data-options="field:'code',width:100,editor:'numberbox'">code码</th>
            <th data-options="field:'message',width:300,editor:'textbox'">错误信息</th>
            <th data-options="field:'owner',width:148,editor:'textbox'">所属于</th>
            <th data-options="field:'email',width:150,editor:'textbox'">email</th>
        </tr>
    </thead>
</table>

{% endblock %}



{% block javascript %}
<script type="text/javascript" src="./js/hour.js"></script>
{% endblock %}