{#
  Swig Templating!
  Docs: http://paularmstrong.github.io/swig/docs/
#}

{% extends 'layouts/application.html' %}

{% block title %}错误码查询{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<br/>
<table>
    <tbody>
        <tr>
            <td>日期：&nbsp;&nbsp;<input id="start-time" class="easyui-datetimebox" style="width:180px" data-options="showSeconds:false"></td>
            <td>&nbsp;-&nbsp;</td>
            <td><input id="end-time" class="easyui-datetimebox" style="width:180px" data-options="showSeconds:false">&nbsp;&nbsp;</td>
            <td>错误码:&nbsp;&nbsp;<input id="err-code" value="310" style="width:100px">&nbsp;&nbsp;</td>
            <td>类型:&nbsp;&nbsp;
                <select id="query-type" style="width: 60px;">
                    <option value="0">小时</option>
                    <option value="1">分钟</option>
                </select>
            </td>
            <td>&nbsp;&nbsp;<button id="search" style="width:80px">检索</button>&nbsp;&nbsp;</td>
            <td><span style="font-size:12px">注意：分钟以五分钟为单位区间，向后五分钟</span></td>
        </tr>
    </tbody>
</table>

<br/>

<script>
function formatData(val, row){
    return (val+'').replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
}
</script>
<table id="dg" class="easyui-datagrid" title="查询结果" style="width:800px;height:100%;" data-options="singleSelect:true">
    <thead>
        <tr>
            <th data-options="field:'time',width:400">时间</th>
            <th data-options="field:'count',width:400,formatter:formatData">错误数</th>
        </tr>
    </thead>
</table>

{% endblock %}



{% block javascript %}
<script type="text/javascript" src="./js/query.js"></script>
{% endblock %}