<div data-options="region:'west',split:true" class="west">
    <div>
        <ul class="easyui-tree">
            <li>
                <span>数据统计</span>
                <ul>
                    <li><a href="javascript:;" onclick="le.addTab({title:'分钟统计', url:'./minute.html'})">分钟统计</a></li>
                    <li><a href="javascript:;" onclick="le.addTab({title:'小时统计', url:'./hour.html'})">小时统计</a></li>
                    <li><a href="javascript:;" onclick="le.addTab({title:'每日统计', url:'./day.html'})">每日统计</a></li>
                    <li><a href="javascript:;" onclick="le.addTab({title:'错误码查询', url:'./query.html'})">错误码查询</a></li>
                </ul>
            </li>
            <li>
                <span>任务</span>
                <ul>
                    <li><a href="javascript:;" onclick="le.addTab({title:'维护code码', url:'./editCode.html'})">维护code码</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>